html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-main, 300);

    line-height: 1.6;

    background-color: var(--background-color-main, #FFFFFF);

    background-color: #F1F1F1;
}

.hidden {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

.main {
    padding-top: 72px;
}

.main__wrapper {
    margin: 0 auto 60px;

    color: var(--text-color-main, #000000);

    text-align: left;
}

.main__video-wrapper {
    margin-bottom: 100px;
}

.hero-single {
    margin-top: 50px;
}

.block-image {
    margin-bottom: 50px;
}

.grid-image-text {
    grid-template-columns: 6fr 1fr 5fr;
    margin: 0 auto;
    padding: 0 55px;
}

.video-slider {
    width: 100%;
    max-width: var(--content-width, 1230px);
    margin-top: 100px;
}

.section {
    margin-bottom: 75px;

    scroll-margin-top: 80px;
}

.form__label {
    min-width: 154px;
}

.block-image {
    margin-top: 50px;
}

.grid-image-text {
    grid-template-columns: 5fr 1fr 4fr;
}

.grid-image-text_inverse {
    grid-template-columns: 4fr 1fr 5fr;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

@media screen and (max-width: 1600px) {
    .main {
        padding-top: 70px;
    }
}

.video-slider__video:hover {
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.4);

    transition: all 0.3s ease;
}

@media screen and (max-width: 1440px) {
    .section {
        margin-top: 100px;
    }

    .grid-image-text__title {
        font-size: var(--text-size-section, 42px);
    }
}

@media screen and (max-width: 1150px) {
    .grid-image-text {
        grid-template-columns: 10fr 1fr 8fr;
    }

    .grid-image-text_inverse {
       grid-template-columns: 8fr 1fr 10fr;
    }
}

@media screen and (max-width: 1000px) {
    .grid-image-text {
        padding-top: 0;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 970px) {
    .hero-single {
        margin-top: 0;
    }

    .grid-image-text__title {
        font-size: 30px;

        line-height: 40px;
    }
}

@media screen and (max-width: 800px) {
    .form__label {
        min-width: 145px;
        padding: 7px;
    }
}

@media screen and (max-width: 700px) {
    .main__wrapper {
        margin-bottom: 0;
    }

    .section {
        margin-top: 40px;
    }

    .grid-image-text__title {
        font-size: 24px;

        line-height: 28px;
    }

    .block-image {
        margin-top: 30px;
    }

    .video-slider {
        margin-top: 40px;
    }

    .mt-100 {
        margin-top: 40px;
    }

    .mb-100 {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 380px) {
    .form__label {
        min-width: 140px;
        padding: 5px;
    }
}
